#logo {
    display: block;
    text-align: center;
    padding: 100px 50px 50px 50px;
}

#searchbar {
    display: block;
    text-align: center;
}

#searchbar input {
    height: 40px;
    width: 500px;
    font-size: 20px;
}

#searchbar input:hover {
    box-shadow: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.navbar a{
    color: #000;
    opacity: 0.75;
    font-family: arial, sans-serif;
    font-size: 13px;

}

#navbarright li {
    float: right;
}
  
a {
    display: block;
    padding: 8px;
    background-color: transparent;
    text-decoration: none;
    color: gray;
}

a:hover {
      color: black;
      text-decoration: underline;
}

#searchbar input {
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
}

button {
     display:inline-block;
     background-color: #e4e4e4;
     border-style: hidden;
     border-radius: 5px;
     padding: 10px;
} 

button:hover {
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#buttons {
      text-align: center;
      padding: 20px;
}


#footerleft {
    position: fixed;
    bottom: 0;
    left: 0;
}

#footerright {
    position: fixed;
    bottom: 0;
    right: 0;
}